aiocontextvars==0.2.2
beautifulsoup4==4.6.3
celery~=5.2.7
chardet==3.0.4
colorama==0.4.6
colorlog==4.0.2
contextvars==2.4
DingtalkChatbot==1.3.0
Django~=4.2
django-celery-beat
django-cors-headers~=3.14
django-model-utils==4.0.0

django-simpleui
django-utils-six==2.0
djangorestframework~=3.14.0
djangorestframework-simplejwt==5.2.2
djangorestframework-jwt==1.11.0
drf-yasg==1.21.5
har2case==0.3.1
immutables==0.19
loguru==0.6.0
mysqlclient~=2.1.1

pyparsing==2.4.7
python-dotenv==0.10.3
requests==2.28.2
requests-toolbelt==0.9.1

tornado==6.2.0
uWSGI~=2.0.18
django_mysql
json5==0.9.5
django_bulk_update==2.2.0
xmltodict~=0.12.0

genson~=1.2.2
Faker~=7.0.1
curlify~=2.2.1
pydash~=5.0.1
jsonpath~=0.82
pydantic==1.9.0
gunicorn
dwebsocket2
sentry-sdk~=1.5.8
# calc next crontab
croniter~=1.3.5
django-log-request-id~=2.0.0
zmq~=0.0.0
pyzmq~=24.0.1
gevent~=22.10.2
django-simple-captcha~=0.5.17
django-filter~=22.1