*.log
*.pyc
*.iml
.idea/codeStyles/
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/
.idea/workspace.xml
celerybeat.pid
start.sh.bak
tempWorkDir/FasterRunner1suq51_p/
tempWorkDir/FasterRunner2gz5ou8f/
tempWorkDir/FasterRunner5z27hw15/
tempWorkDir/FasterRunner970jl0uj/
tempWorkDir/FasterRunnercb3u01eh/
tempWorkDir/FasterRunnerdctx34ir/
tempWorkDir/FasterRunnergqda5ce2/
tempWorkDir/FasterRunnerp1aus_b5/
tempWorkDir/FasterRunnerqkwb_fok/
tempWorkDir/FasterRunnerwxmm06t1/
tempWorkDir/FasterRunnerxqed9njq/
templates/test.html
