*.log
*.pyc
*.iml
.idea
celerybeat.pid
start.sh.bak
tempWorkDir
mysql
# .env
/venv/
/static/
nohup.out

# web
.DS_Store
web/node_modules/
node_modules/
.umi/
web/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln