cache=D:\Program Files\npm-cache
prefix=D:\Program Files\npm-global
proxy=null
auto-install-peers=true
strict-peer-dependencies=false
strict-ssl=false
loglevel=http
registry=https://registry.npmmirror.com/